@import "theme/gnome-theme.css";
@import "customChrome.css"; /**/

:root {
    --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
    --transition-time: 0.4s !important;
    --ease-basic: linear;

    --button-size: 32px; /* is this used? */
    --icon-size: 24px; /* is this used? */

    --downloads-item-height: 48px !important;

    --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
    --toolbar-non-lwt-textcolor: var(--toolbar-color) !important;
    --toolbar-field-focus-border-color: var(--lwt-toolbar-field-color) !important;

    --toolbar-field-background-color: var(--light-1) !important;
    --toolbar-field-focus-background-color: var(--light-1) !important;
}

/* light mode */
:root:not([style]),
:root[style*="--lwt-accent-color:rgb(227, 228, 230);"],
:root[style*="--lwt-accent-color:white;"] {
    /* accentcolor */
    --lwt-accent-color: var(--light-base) !important;

    /* textcolor */
    --lwt-text-color: var(--dark-base) !important;

    /* toolbar */
    --toolbar-bgcolor: var(--light-base) !important;

    /* toolbar_text */
    --toolbar-color: var(--dark-1) !important;

    --urlbarView-popup-title: var(--dark-1) !important;

    --urlbarView-popup-url: var(--dark-4) !important;

    /* toolbar_bottom_separator */
    --toolbox-border-bottom-color: var(--light-base) !important; /* legacy */
    --chrome-content-separator-color: var(--light-base) !important;

    /* icons */
    --lwt-toolbarbutton-icon-fill: var(--dark-1) !important;

    /* icons_attention */
    --lwt-toolbarbutton-icon-fill-attention: var(--accent) !important;

    /* button_background_hover */
    --lwt-toolbarbutton-hover-background: var(--light-2) !important;

    /* button_background_active */
    --lwt-toolbarbutton-active-background: var(--light-4) !important;

    --lwt-toolbar-field-color: var(--dark-2) !important;

    /* popup */
    --arrowpanel-background: var(--light-1) !important;
    --arrowpanel-dimmed: var(--light-2) !important; /* hover color */
    --arrowpanel-dimmed-further: var(--light-3) !important; /* hover color */

    /* popup_text */
    --arrowpanel-color: var(--dark-1) !important;
    --autocomplete-popup-color: var(--dark-1) !important;
    --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

    /* popup_border */
    --arrowpanel-border-color: var(--light-1) !important;
    --autocomplete-popup-border-color: var(--light-1) !important;

    /* popup_highlight */
    --autocomplete-popup-highlight-background: var(--light-2) !important;

    /* popup_highlight_text */
    --autocomplete-popup-highlight-color: var(--dark-2) !important;

    /* urlbar icon */
    --toolbarbutton-hover-background: var(--light-4) !important;
    --toolbarbutton-active-background: var(--light-base) !important;

    --sidebar-shadow-color: var(--dark-4);
}

/* don't bother with sidebar in light mode */

/* dark mode */
:root[style*="--lwt-accent-color:rgb(12, 12, 13);"] {
    /* accentcolor */
    --lwt-accent-color: var(--dark-base) !important;

    /* textcolor */
    --lwt-text-color: var(--light-base) !important;

    /* toolbar */
    --toolbar-bgcolor: var(--dark-base) !important;

    /* toolbar_text */
    --toolbar-color: var(--light-1) !important;

    --urlbarView-popup-title: var(--light-1) !important;

    --urlbarView-popup-url: var(--light-4) !important;

    /* toolbar_bottom_separator */
    --toolbox-border-bottom-color: var(--dark-base) !important; /* legacy */
    --chrome-content-separator-color: var(--dark-base) !important;

    /* icons */
    --lwt-toolbarbutton-icon-fill: var(--light-1) !important;

    /* icons_attention */
    --lwt-toolbarbutton-icon-fill-attention: var(--accent) !important;

    /* button_background_hover */
    --lwt-toolbarbutton-hover-background: var(--dark-2) !important;

    /* button_background_active */
    --lwt-toolbarbutton-active-background: var(--dark-4) !important;

    --lwt-toolbar-field-color: var(--light-2) !important;

    /* popup */
    --arrowpanel-background: var(--dark-1) !important;
    --arrowpanel-dimmed: var(--dark-2) !important; /* hover color */
    --arrowpanel-dimmed-further: var(--dark-3) !important; /* hover color */

    /* popup_text */
    --arrowpanel-color: var(--light-1) !important;
    --autocomplete-popup-color: var(--light-1) !important;
    --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

    /* popup_border */
    --arrowpanel-border-color: var(--dark-1) !important;
    --autocomplete-popup-border-color: var(--dark-1) !important;

    /* popup_highlight */
    --autocomplete-popup-highlight-background: var(--dark-2) !important;

    /* popup_highlight_text */
    --autocomplete-popup-highlight-color: var(--light-2) !important;

    /* urlbar icon */
    --toolbarbutton-hover-background: var(--dark-4) !important;
    --toolbarbutton-active-background: var(--dark-base) !important;

    --sidebar-shadow-color: var(--dark-0);
}

:-moz-any(#sidebar-box, #sidebar) {
    /* sidebar */
    --sidebar-background-color: var(--dark-base) !important;

    /* sidebar_text */
    --sidebar-text-color: #f1f3ee !important;
}

:-moz-any(.sidebar-panel, body)[style*="--lwt-sidebar-background-color:rgb(56, 56, 61);"] {
    /* sidebar */
    --lwt-sidebar-background-color: var(--dark-base) !important;

    /* sidebar_text */
    --lwt-sidebar-text-color: var(--light-base) !important;
}

#titlebar,
#tabbrowser-tabs {
    --tab-min-height: 34px !important;
}

:root:-moz-any(:-moz-lwtheme-brighttext, [privatebrowsingmode="temporary"]) {
    --toolbar-field-background-color: var(--dark-1) !important;
    --toolbar-field-hover-background-color: var(--dark-1) !important;
    --toolbar-field-focus-background-color: var(--dark-1) !important;
}

:root:not(:-moz-lwtheme):not([privatebrowsingmode="temporary"]) {
    --toolbar-bgcolor: hsl(0, 0%, 100%) !important;
    --toolbar-color: hsl(213, 5%, 39%) !important;
    --toolbox-border-bottom-color: hsl(0, 0%, 70%) !important;
}

@media (-moz-mac-yosemite-theme) {
    :root[extradragspace] {
        --space-above-tabbar: 8px !important;
    }
}

/* Ubuntu */
@media (-moz-gtk-csd-available) {
    :root:not(:-moz-lwtheme):not([privatebrowsingmode="temporary"]) {
        --toolbar-bgcolor: -moz-dialog !important;
        --toolbar-color: -moz-dialogtext !important;
    }
}

:root:-moz-lwtheme-darktext,
:root toolbar:not([brighttext]),
.tabbrowser-tab[visuallyselected] {
    --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 0%, 0.07)) !important;
    --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 0%, 0.11)) !important;
}

:root:-moz-lwtheme-brighttext,
:root toolbar[brighttext],
.tabbrowser-tab[visuallyselected]:-moz-lwtheme-brighttext {
    --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 100%, 0.1)) !important;
    --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 100%, 0.17)) !important;
}

/* Container identity colors */

.identity-color-pink {
    --identity-tab-color: #ED64A6 !important;
    --identity-icon-color: #ED64A6 !important;
}

.identity-color-blue {
    --identity-tab-color: #4299E1 !important;
    --identity-icon-color: #4299E1 !important;
}

.identity-color-green {
    --identity-tab-color: #48BB78 !important;
    --identity-icon-color: #48BB78 !important;
}

.identity-color-orange {
    --identity-tab-color: #ED8936 !important;
    --identity-icon-color: #ED8936 !important;
}

/* /1* special case for urlbar buttons *1/ */
/* :-moz-any(#urlbar, #searchbar) { */
/*     --toolbarbutton-hover-background: var(--dark-4) !important; */
/*     --toolbarbutton-active-background: var(--dark-base) !important; */
/* } */

/* :root:-moz-any([privatebrowsingmode="temporary"], :-moz-lwtheme-brighttext) :-moz-any(#urlbar, #searchbar) { */
/*     --toolbarbutton-hover-background: var(--dark-4) !important; */
/*     --toolbarbutton-active-background: var(--dark-base) !important; */
/* } */


@import 'icons/extension-icons.css';
@import 'window-controls/wc-with-tabline.css';


:root { 
  --light-0: #151D28;
  --light-base: #192330;
  --light-1: #233143;
  --light-2: #2A3B51;
  --light-3: #374E6C;
  --light-4: #3E5879;
  --dark-0: #D7DFEA;
  --dark-base: #afc0d5;
  --dark-1: #A1B5CE;
  --dark-2: #94ABC7;
  --dark-3: #87A0C0;
  --dark-4: #7996B9;
  --accent: #63cdcf;
  --yellow: #dbc074;
  --green: #5cb8a7;
  --red: #c94f6d;
  --extension-icon-mask: grayscale(85%) invert(75%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(88%);
    
  /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
  --sidebar-width: 250px; 
  /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
  --sidebar-collapsed-width: 60px;

  --dividers: 2px;
    
  --tl-animation-duration: 200ms;
  /*--tl-tab-background-gradient: */
  /* uncomment and add gradient value for selected tab gradient*/
  
  /******WINDOW CONTROL PLACEMENT VARS******/
  /* larger value moves window controls down,*/
  /* can be negative(moves controls up) */
  /* 55px if tabline visible, -25px if tabline hidden */
  --wc-vertical-shift: 15px;
  --wc-left-space: 0px; /* add space to the left of window controls*/
  --wc-right-space: 0px; /* add space to the right of window controls*/
  /* left-space shifts window-controls */
  /* if you want to shift them to the left: positive value */
  /* and if you want to shift them to the right: smaller or negative value */
  /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
  /* if you want to increase/decrease space between window-controls and navbars: */
  /* set positive/negative value for right-space*/
    
}

:root[privatebrowsingmode="temporary"]{ 
  --light-0: #1C0E34;
  --light-base: #20103c;
  --light-1: #2F1D4E;
  --light-2: #38225D;
  --light-3: #4A2D7B;
  --light-4: #53338A;
  --dark-0: #CC6B9C;
  --dark-base: #B9407C;
  --dark-1: #AB3B73;
  --dark-2: #9C3569;
  --dark-3: #8D305E;
  --dark-4: #7D2B54;
  --accent: #e9207e;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
  --extension-icon-mask: grayscale(85%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%) contrast(93%); 
}

#reader-mode-button{ color: white }

/* Pinned Tab Close Patch */

.tab-stack .tab-close-button[pinned="true"]{
    display: none;
}
/* Url Bar Patch */
#identity-box.extensionPage {
    display: none !important;
}

:root{ --toolbar-field-focus-border-color: transparent !important; }

#searchbar[focused],
#searchbar[open] {
    background-color: var(--toolbar-field-focus-background-color) !important;
}


#nav-bar {
    min-height: 36px !important;
    box-shadow: none !important;
    background-color: var(--light-base) !important;
    padding-bottom: 0px !important;
}

.urlbar-icon {
    padding-bottom: 0px;
    fill: var(--lwt-toolbarbutton-icon-fill) !important;
}


/* NavBar Color Fix*/
toolbox#navigator-toolbox {
    border-bottom: solid var(--dividers) var(--sidebar-shadow-color) !important;
}

#nav-bar {
    background-color: var(--light-base) !important;
}

/* Remove Speaker Icon on Hover */
.tab-icon-overlay{
    background: transparent !important;
  }
  .tab-icon-overlay[soundplaying]{
    fill: transparent !important;
  }

  .tab-icon-overlay[soundplaying][pinned="true"]{
    fill: white !important;
  }  

  .tab-icon-overlay[muted]{
    fill: transparent !important;
  }

  .tab-icon-overlay[muted][pinned="true"]{
    fill: white !important;
  }  

  .tab-icon-overlay[activemedia-blocked],
  .tab-icon-sound[activemedia-blocked] {
      display: none;
  }

/* Title and Tabbar Color Fix */
#titlebar #TabsToolbar {
	padding: 5px 0px 2px 0px !important;
	background: var(--light-base) !important;
} 

#PersonalToolbar {
	background: var(--light-base) !important;
	color: var(--light-base) !important;
	padding-bottom: 6px !important;
	padding-top: 2px !important;
}

toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	fill: var(--frost_color3) !important;
	border-radius: 3px !important;
	background-color: var(--light-base) !important;
}

toolbar#nav-bar {
	background: var(--light-base) !important;
	box-shadow: none !important;
	padding-bottom: 3px !important;
}

#sidebar-box,
.sidebar-panel[lwt-sidebar-brighttext] {
	background-color: var(--light-base) !important;
}

.content-container {
	background-color: var(--light-base) !important;
	color: var(--light-base) !important;
}



.tab-stack:hover .tab-throbber {
  color: transparent;
}

/* URL Bar */
.urlbarView-body-inner {
    border: 0 !important;
}

.urlbarView-row {
    padding: 0 !important;
    border-radius: 0 !important;
}

.urlbarView-row:hover,
.urlbarView-row-inner:hover {
    background: var(--lwt-accent-color) !important;
    background-color: var(--lwt-accent-color) !important;
}

.urlbarView-row-inner {
    align-items: center !important;
    position: relative !important;
    padding: 12px 0 !important;
    padding-inline: 48px 16px !important;
    max-width: 100% !important;
    width: auto !important;
}

.urlbarView-no-wrap {
    height: 100% !important;
    align-items: center !important;
    margin-inline-start: 0 !important;
    max-width: 100% !important;
}

.urlbarView-row[has-url][type]:not([type="bookmark"]) .urlbarView-row-inner {
    flex-direction: column !important;
    align-items: flex-start !important;
}

.urlbarView-row[has-url][type]:not([type="bookmark"]) .urlbarView-no-wrap {
    height: auto !important;
    align-self: flex-start !important;
    width: 100% !important;
}

.urlbarView-title-separator {
    visibility: visible !important;
}

.urlbarView-title-separator::before {
    content: "-" !important;
    color: inherit !important;
}

.urlbarView-title-separator,
.urlbarView-action {
    opacity: 0.6 !important;
    color: inherit !important;
    font-size: revert !important;
}

.urlbarView-favicon {
    position: absolute !important;
    left: 16px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    fill-opacity: 0.6 !important;
    flex: unset !important;
    margin: unset !important;
}

.urlbarView-title,
.urlbarView-url {
    text-overflow: ellipsis !important;
    mask-image: none !important;
}

.urlbarView-title {
    color: var(--urlbarView-popup-title) !important;
    flex: 1 !important;
    flex-basis: unset !important;
}

.urlbarView-url {
    max-width: 100% !important;
    font-size: revert !important;
    color: var(--urlbarView-popup-url) !important;
    padding: 0 !important;
}

.urlbarView-url:not(:empty) {
    visibility: visible !important;
}

.urlbarView-action:not(:empty) {
    display: flex !important;
}


.urlbarView-row[type="tip"] > .urlbarView-row-inner > .urlbarView-favicon,
.urlbarView-row[type="tip"] > .urlbarView-row-inner > .urlbarView-title,
.urlbarView-tip-button,
.urlbarView-tip-help {
    margin-block-end: 0 !important;
}

.urlbarView .search-one-offs {
    padding: 4px !important;
    display: none !important;
}

.urlbarView .search-panel-one-offs-header {
    margin-inline-start: 12px !important;
    line-height: 40px !important;
    transform: translateY(-1px) !important;
}

.urlbarView .search-panel-one-offs {
    border-radius: 0 0 8px 8px !important;
    display: inline-flex !important;
    flex-direction: row !important;
    padding: 0 !important;
    margin: 0 !important;
    float: left !important;
    max-width: none !important;
    height: auto !important;
}

.urlbarView .searchbar-engine-one-off-item {
    height: 32px !important;
    border-radius: 16px !important;
    padding: 0 8px !important;
    margin: 4px !important;
    background-image: none !important;
    color: inherit !important;
    border: 0 !important;
}

#urlbar,
#searchbar {
    font-size: 14px !important;
    border-radius: 7px !important;
    background-color: var(--toolbar-field-background-color) !important;
    border: 0 !important;
    box-shadow: none !important;
    text-align: center;
    transition: background-color 0.1s var(--ease-basic);
    margin: 0 !important;
    color: inherit !important;
    block-size: border-block !important;

    --urlbar-height: 32px !important;

    min-height: var(--urlbar-height) !important;
}

#urlbar:not(:-moz-lwtheme),
#searchbar:not(:-moz-lwtheme) {
    color: inherit !important;
}

#urlbar[focused],
#urlbar[open],
#searchbar[focused],
#searchbar[open] {
    text-align: left;
    background-color: var(--toolbar-field-focus-background-color) !important;
}


/* if only focused, don't break out the urlbar */
#urlbar[focused]:not([open]) {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
}

#urlbar-input,
#searchbar-input,
.searchbar-textbox /* < 71 */ {
    transform: translateY(var(--input-offset)) !important;
    line-height: 1.745em !important;
    margin-left: 10px !important;
}

#urlbar[breakout][breakout-extend] { 
    border-color : tras !important ;
    outline: none;
}

#urlbar,
#searchbar {
    border: 0 !important;
    padding: 0 !important;
    border-radius: 8px !important;
    margin: -2px 0 -10px !important;
    z-index: 99999 !important;
}

.tab-background,.tab-content,.tab-stack {
    margin-top: 0px;
    }

#urlbar[open],
#searchbar[open] {
    border-radius: 7px !important;
    min-height: 40px !important;
    margin-top: 0px !important;
    box-shadow: 5px 4px 16px -10px rgba(0, 0, 0, 0.2), -5px 4px 16px -10px rgba(0, 0, 0, 0.2),
        0 8px 32px -16px rgba(0, 0, 0, 0.2) !important;
    z-index: 99999 !important;
}

    
#urlbar-background {
    display: none !important;
    color: transparent;
    background-color: transparent;
    outline: none;
}

